*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: #dee7e7;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	padding-bottom: 24px;
}

.card {
	width: 645px;
	height: auto;
	margin: 18px auto;
}

.card-title {
	font-size: 42px;
	background: #ffb961;
	/* margin-top: auto; */
	padding: 8px;
	border: solid #252e33;
}

.title {
	font-weight: bold;
	font-size: 36px;
	text-align: center;
	background: #ffb961;
	padding-top: 12px;
	margin: auto;
}

a {
	font-size: 24px;
	text-align: center;
	display: block;
}

img {
	width: 645px;
	height: auto;
}

.recipe {
	width: 645px;
	background: whitesmoke;
	padding-bottom: 12px;
	margin-top: 24px;
	border: solid #252e33;
}
